################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dormitory/FileContentIndex/4645a825-1322-45ca-8834-6a7112ba9161.vsidx
/.vs/Dormitory/FileContentIndex/27158013-c956-4bbf-bed3-bd333f7232a3.vsidx
/.vs/Dormitory/v17/.suo
/.vs/Dormitory/FileContentIndex/9e5e106c-b015-4fb1-bcc9-7fda65138935.vsidx
/.vs/Dormitory/v17/.suo~test
/.vs/Dormitory/FileContentIndex
