################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dormitory/FileContentIndex/4645a825-1322-45ca-8834-6a7112ba9161.vsidx
/.vs/Dormitory/FileContentIndex/27158013-c956-4bbf-bed3-bd333f7232a3.vsidx
/.vs/Dormitory/v17/.suo
/.vs/Dormitory/FileContentIndex/9e5e106c-b015-4fb1-bcc9-7fda65138935.vsidx
/.vs/Dormitory/v17/.suo~test
/.vs/Dormitory/FileContentIndex
/BusinessLayer/bin/Debug/net6.0/BusinessLayer.runtimeconfig.json
/BusinessLayer/bin/Debug/net6.0/BusinessLayer.pdb
/BusinessLayer/bin/Debug/net6.0/BusinessLayer.dll
/BusinessLayer/bin/Debug/net6.0/BusinessLayer.deps.json
/BusinessLayer/obj/Debug/net6.0/ref/BusinessLayer.dll
/BusinessLayer/obj/Debug/net6.0/refint/BusinessLayer.dll
/BusinessLayer/obj/Debug/net6.0/BusinessLayer.pdb
/BusinessLayer/obj/Debug/net6.0/BusinessLayer.genruntimeconfig.cache
/BusinessLayer/obj/Debug/net6.0/BusinessLayer.dll
/BusinessLayer/obj/Debug/net6.0/BusinessLayer.csproj.FileListAbsolute.txt
/BusinessLayer/obj/Debug/net6.0/BusinessLayer.csproj.CoreCompileInputs.cache
/BusinessLayer/obj/Debug/net6.0/BusinessLayer.csproj.AssemblyReference.cache
/BusinessLayer/obj/Debug/net6.0/BusinessLayer.assets.cache
/BusinessLayer/obj/project.nuget.cache
/BusinessLayer/obj/project.assets.json
/BusinessLayer/obj/BusinessLayer.csproj.nuget.g.targets
/BusinessLayer/obj/BusinessLayer.csproj.nuget.g.props
/BusinessLayer/obj/BusinessLayer.csproj.nuget.dgspec.json
/DataLayer/bin/Debug/net6.0
/DataLayer/obj/Debug/net6.0/ref
/DataLayer/obj/Debug/net6.0/refint
/DataLayer/obj/Debug/net6.0/DataLayer.csproj.AssemblyReference.cache
/DataLayer/obj/Debug/net6.0/DataLayer.assets.cache
/DataLayer/obj/Debug/net6.0
/DataLayer/obj/project.nuget.cache
/DataLayer/obj/project.assets.json
/DataLayer/obj/DataLayer.EntityFrameworkCore.targets
/DataLayer/obj/DataLayer.csproj.nuget.g.targets
/DataLayer/obj/DataLayer.csproj.nuget.g.props
/DataLayer/obj/DataLayer.csproj.nuget.dgspec.json
/DataLayer/obj/DataLayer.csproj.EntityFrameworkCore.targets
/Dormitory/bin/Debug/net6.0
/Dormitory/obj/Debug/net6.0/Dormitory.assets.cache
*.dll
/Dormitory/obj/Debug/net6.0/Dormitory.csproj.FileListAbsolute.txt
/Dormitory/obj/project.nuget.cache
/Dormitory/obj/project.assets.json
/Dormitory/obj/Dormitory.csproj.nuget.g.targets
/Dormitory/obj/Dormitory.csproj.nuget.g.props
/Dormitory/obj/Dormitory.csproj.nuget.dgspec.json
/Dormitory/obj/Debug/net6.0/Dormitory.pdb
/Dormitory/obj/Debug/net6.0/Dormitory.genruntimeconfig.cache
/Dormitory/obj/Debug/net6.0/Dormitory.csproj.CoreCompileInputs.cache
/Dormitory/obj/Debug/net6.0/Dormitory.csproj.CopyComplete
/Dormitory/obj/Debug/net6.0/Dormitory.csproj.AssemblyReference.cache
/Dormitory/obj/Debug/net6.0/apphost.exe
/.vs/ProjectEvaluation/dormitory.projects.v5.2
/.vs/ProjectEvaluation/dormitory.metadata.v5.2
/.vs/Dormitory/DesignTimeBuild/.dtbcache.v2
